<launch>
<!--add valgrind -v to launch prefix-->
<!--node to convert point cloud to map frame coordinates-->
<node pkg="wheelchair_dacop" name="cloud_transform" type="cloud_transform" output="screen" launch-prefix=""></node>
<!--node to grab object detection data, and grab the 3D coordinates - to whatever frame is stated in the node above-->
<node pkg="wheelchair_dacop" name="depth_sensing" type="depth_sensing" output="screen" launch-prefix=""></node>
<!--node to calculate if the object has been detected before-->
<!--<node pkg="wheelchair_dacop" name="object_locations" type="object_locations" output="screen" launch-prefix=""></node>-->
</launch>
